.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* 
  background-color: #2d3136; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  */
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url('natureBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Horizontally center the frame */
  /* height: 60vh; */
  height: auto;
  transform: translate(0%, 5%);
}

.translucent-frame {
  background-color: rgba(255, 255, 255, 0.6); /* Translucent white background */
  border-radius: 20px; /* Rounded edges */
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8); /* Box shadow for depth effect */
  width: 40vh;
  display: flex;
  flex-direction: column;
  
}

.title-content {
  position: relative;
  background-color: transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(0, 0, 0);
}

.content {
  width: auto;
  padding: 20px;
  /* display: flex; */
  flex-direction: column;
  justify-content: left;
  font-size: calc(4px + 2vmin);
  color: rgb(0, 0, 0);
}

.circle-image {
  width: 60%;
  height: auto;
  border-radius: 100%; /* Clip the image to a circle shape */
  overflow: hidden; /* Hide any overflow beyond the circle */
}

.circle-image img {
  width: 100%; /* Make the image fill the container */
  height: 100%;
  object-fit: cover; /* Maintain the aspect ratio and cover the container */
}